---
import { Image } from "astro:assets";
import Hero from "../../components/Hero.astro";
import Layout from "../../layouts/Layout.astro";
import WebsitesImage from "../../assets/service-websites.jpg";
import ToolUmbracoCloud from "../../assets/tools-umbracocloud.png";
import ToolMsAzure from "../../assets/tools-msazure.png";
---

<Layout title="MWL - Websites">
  <Hero page="websites"></Hero>
  <div class="container mx-auto px-8 mt-12">
    <h2 class="md:text-4xl text-3xl font-bold text-slate-50 mb-4 underline decoration-solid decoration-2 decoration-yellow-400 underline-offset-8">Websites</h2>
    <!--Image and description container -->
    <div class="flex xl:flex-nowrap flex-wrap xl:gap-10 gap-4">
      <div class="xl:w-1/2 w-full">
        <Image src={WebsitesImage} class="max-w-full rounded-lg" alt="wireframes illustrating the prototype of a website" />
      </div>
      <div class="xl:w-1/2 w-full">
        <p class="mb-4 text-slate-50 xl:text-xl md:text-lg text-base">
          When it comes to developing a website there is no secret magical formula. 
          Websites comes in all shapes and sizes. It boils down to what purpose they are going to serve.
        </p>
        <p class="mb-4 text-slate-50 xl:text-xl md:text-lg text-base">
          At MWL we're not just about coding and the other technical aspects.
          We are about helping your business solve the problem that you are facing.
        </p>
        <p class="mb-4 text-slate-50 xl:text-xl md:text-lg text-base">
          Whether you're stepping into the online realm for the first time or seeking to revitalize your existing digital footprint, 
          we're here to guide you every step of the way.
        </p>
        <p class="mb-4 text-slate-50 xl:text-xl md:text-lg text-base">
          Want to explore your opportunities?
        </p>
        <div class="flex xl:mt-20 mt-8">
					<a href="/contact" class="mwl-background shadow-3xl md:text-2xl text-xl text-center p-3 text-white border-black rounded-full border-solid border w-64 transition-transform transform-gpu hover:-translate-y-1 hover:shadow-lg">Get in touch</a>
				</div>
      </div>
    </div>
    <!--List of typical service including -->
    <div class="text-slate-50 pt-40">
      <h3 class="xl:text-4xl text-3xl font-bold mb-4">What a typical website includes:</h3>
      <ul class="md:text-xl text-lg list-disc pl-6">
        <li>Website design</li>
        <li>Responsive design (works- and looks great on smartphones, tablets, PCs etc.) </li>
        <li>SEO optimization (Search engines’ ability to find your website)</li>
        <li>Accessibility</li>
        <li>Content management interface</li>
      </ul>
    </div>
    <!--The tools we use -->
    <div class="text-slate-50 py-40">
      <h3 class="md:text-4xl text-3xl font-bold mb-4 underline decoration-solid decoration-2 decoration-yellow-400 underline-offset-8">The tools we use:</h3>
      <div class="flex flex-col-reverse xl:flex-row md:flex-row-reverse gap-7">
        <div class="md:pt-11 pt-6 flex flex-wrap xl:flex-col xl:gap-10 xl:w-1/2 md:w-full md:gap-y-8 gap-y-8">
          <div class="flex items-center flex-wrap justify-center xl:justify-normal">
            <Image class="animate-cloudhover" src={ToolUmbracoCloud} alt="A purple cloud with an Umbraco icon in the middle of it"/>
            <div class="ml-4 xl:mt-0 md:mt-3 xl:text-left text-center">
              <h4 class="xl:text-2xl md:text-xl text-slate-50 font-bold">Umbraco Cloud</h4>
              <p class="xl:text-xl md:text-lg text-slate-50">Perfect place to host Umbraco</p>
            </div>
          </div>
          <div class="flex items-center flex-wrap justify-center xl:justify-normal">
            <Image class="animate-cloudhover" src={ToolMsAzure} alt="A purple cloud with a Microsoft Azure icon in the middle of it"/>
            <div class="ml-4 xl:mt-0 md:mt-3 xl:text-left text-center">
              <h4 class="xl:text-2xl md:text-xl text-slate-50 font-bold">Microsoft Azure</h4>
              <p class="xl:text-xl md:text-lg text-slate-50">Feature rich cloud native platform</p>
            </div>
          </div>
        </div>
        <div class="md:pt-11 pt-6 xl:w-1/2 md:w-full">
          <h4 class="text-2xl text-slate-50 font-bold mb-4">Umbraco CMS</h4>
          <p class="text-slate-50 text-xl mb-4">
            Our tool of choice for building websites is Umbraco.
            It’s a CMS and it provides a great editor and developer experience and rich possibilites for extending it to fit a specific need.
          </p>
          <p class="text-slate-50 text-xl">
            It’s a software that has a strong community built around it, who continously work to improve it and love to use it. 
            Because of this contineous improvement and evolvment of the product, we use it!
          </p>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .mwl-background{
    background-color: var(--mwl-purple);
  }
</style>