---
import { Image } from "astro:assets";
import Hero from "../../../components/Hero.astro";
import Layout from "../../../layouts/Layout.astro";
import WebsitesImage from "../../../assets/service-accessibility.png";
---

<Layout title="MWL - Tilgængelighed">
  <Hero page="Tilgængelighed"></Hero>
  <div class="container mx-auto px-8 mt-12">
    <h2 class="md:text-4xl text-3xl font-bold text-slate-50 mb-4 underline decoration-solid decoration-2 decoration-yellow-400 underline-offset-8">Tilgængelighed</h2>
    <!--Image and description container -->
    <div class="flex xl:flex-nowrap flex-wrap xl:gap-10 gap-4">
      <div class="xl:w-1/2 w-full">
        <Image src={WebsitesImage} class="max-w-full rounded-lg" alt="wireframes illustrating the prototype of a website" />
      </div>
      <div class="xl:w-1/2 w-full">
        <p class="mb-4 text-slate-50 xl:text-xl md:text-lg text-base">
          Når du ud til alle dine brugere? Utallige personer over hele verden navigerer i deres liv med handicap. 
          Spektret af disse handicap varierer bredt, og ikke alle hindrer ens evne til at engagere sig med den digitale verden.
        </p>
        <p class="mb-4 text-slate-50 xl:text-xl md:text-lg text-base">
          Ikke desto mindre udgør talrige handicaps udfordringer og skaber forhindringer for enkeltpersoner, når det kommer til at navigere og forstå visse hjemmesider.
        </p>
        <p class="mb-4 text-slate-50 xl:text-xl md:text-lg text-base">
          Indarbejdelse af forskellige tilgængelighedspraksisser bliver afgørende for at sikre inklusivitet og udvide rækkevidden af din hjemmeside til det bredest mulige publikum.
        </p>
        <div class="flex xl:mt-20 mt-8">
					<a href="/dk/contact" class="mwl-background shadow-3xl md:text-2xl text-xl text-center p-3 text-white border-black rounded-full border-solid border w-64 transition-transform transform-gpu hover:-translate-y-1 hover:shadow-lg">Kontakt os</a>
				</div>
      </div>
    </div>
    <!--List of typical service including -->
    <div class="text-slate-50 py-40">
      <h3 class="xl:text-4xl text-3xl font-bold mb-4">Hvad en typisk Tilgængelighed service inkludere:</h3>
      <ul class="md:text-xl text-lg list-disc pl-6">
        <li>Overblik over din nuværende hjemmesides tilgængelighed</li>
        <li>HTML optimering for tilgængelighed</li>
      </ul>
    </div>
  </div>
</Layout>

<style>
  .mwl-background{
    background-color: var(--mwl-purple);
  }
</style>