---
import { Image } from "astro:assets";
import Hero from "../../../components/Hero.astro";
import Layout from "../../../layouts/Layout.astro";
import WebsitesImage from "../../../assets/service-azureconsulting.png";
---

<Layout title="MWL - Azure Konsultation">
  <Hero page="Azure Konsultation"></Hero>
  <div class="container mx-auto px-8 mt-12">
    <h2 class="md:text-4xl text-3xl font-bold text-slate-50 mb-4 underline decoration-solid decoration-2 decoration-yellow-400 underline-offset-8">Azure Konsultation</h2>
    <!--Image and description container -->
    <div class="flex xl:flex-nowrap flex-wrap xl:gap-10 gap-4">
      <div class="xl:w-1/2 w-full">
        <Image src={WebsitesImage} class="max-w-full rounded-lg" alt="wireframes illustrating the prototype of a website" />
      </div>
      <div class="xl:w-1/2 w-full">
        <p class="mb-4 text-slate-50 xl:text-xl md:text-lg text-base">
          Med flere Azure-certificeringer i vores arsenal er vi klar til at yde vejledning og konsultation for din nye eller eksisterende Azure-løsning.
        </p>
        <p class="mb-4 text-slate-50 xl:text-xl md:text-lg text-base">
          Vi vurderer eksisterende infrastrukturer, planlægger migrationer og implementerer Azure-løsninger, så de er i overensstemmelse med forretningsmålene. 
          Som en forlængelse af det tilbyder vi ydelsesoptimering, sikkerhed og omkostningseffektivitet samt løbende support og fejlfinding.
        </p>
        <p class="mb-4 text-slate-50 xl:text-xl md:text-lg text-base">
          Ud over certificeringerne drives vi af en ægte passion for at skabe cloud-native løsninger. 
          Vi kanalisere denne passion ind i vores Azure-konsultation.
          Ønsker du, at vi rådgiver dig om din idé til en Azure-løsning eller en eksisterende? 
        </p>
        <p class="mb-4 text-slate-50 xl:text-xl md:text-lg text-base">
          Ønsker du, at vi rådgiver dig om din idé til en Azure-løsning eller en eksisterende? 
        </p>
        <div class="flex xl:mt-20 mt-8">
					<a href="/dk/contact" class="mwl-background shadow-3xl md:text-2xl text-xl text-center p-3 text-white border-black rounded-full border-solid border w-64 transition-transform transform-gpu hover:-translate-y-1 hover:shadow-lg">Kontakt os</a>
				</div>
      </div>
    </div>
    <!--List of typical service including -->
    <div class="text-slate-50 py-40">
      <h3 class="xl:text-4xl text-3xl font-bold mb-4">Hvad en typisk Azure konsultation inkludere:</h3>
      <ul class="md:text-xl text-lg list-disc pl-6">
        <li>Overblik over din nuværende infrastruktur og services</li>
        <li>Dialog om nuværende problemstillinger i ønsker løst</li>
        <li>Arkitektonisk rådgivning</li>
      </ul>
    </div>
  </div>
</Layout>

<style>
  .mwl-background{
    background-color: var(--mwl-purple);
  }
</style>