---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import ContactForm from '../components/ContactForm.astro';
---

<Layout title="MWL - Your local webagency">
  <Hero page="contact" />
  <main transition:animate="slide" class="text-white container mx-auto py-52">
    <h2 class="text-xl md:text-5xl px-8 font-bold">We would love to hear from  <span class="mwl-yellow">you</span></h2>
    <p class="px-8 md:text-xl"> Do you have an idea for a project or do you simply need help with an existing one? <br /> Send us a message and you will get a response from us asap!</p>
    <ContactForm />
  </main>
</Layout>

<style>
  .mwl-yellow {
    color: var(--mwl-yellow-bright);
  }
</style>