---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import ContactForm from "../components/ContactForm.astro";
---

<Layout title="MWL - Your local webagency">
	<main>
		<div class="flex justify-center items-center min-h-screen bg-gradient-to-r from-purple-800 via-violet-900 to-purple-800">
			<div class="hero text-left px-8">
				<!-- <h1 class="mb-5 xl:text-9xl md:text-8xl text-6xl font-bold text-cyan-50 uppercase">We are <span id="main-highlight" class="bg-white text-purple-800">MWL</span></h1> -->
				<h1 class="first mb-5 xl:text-9xl md:text-8xl text-6xl font-bold text-cyan-50 uppercase relative">We are <span id="main-highlight" class="">MWL</span></h1>
				<p class="second mb-5 xl:text-7xl md:text-4xl text-3xl font-bold text-cyan-50">In a jungle of choices, we are your: <span id="highlight">agency</span> </p>
			</div>
		</div>
			<!--Experience -->
		<div class="py-20">
			<div class="container mx-auto py-11 px-8 flex xl:flex xl:flex-row flex-col-reverse xl:gap-y-0 gap-y-10">
				<div class="xl:w-2/3 w-full flex justify-center items-center">
					<p class="xl:text-5xl text-5xl inline-block text-transparent bg-gradient-to-r from-fuchsia-500 to-cyan-100 bg-clip-text">
						Certified Umbraco Masters and Azure Architects with over 10 years of Umbraco experience.
					</p>
				</div>
				<div class="xl:w-1/3 w-full flex flex-col items-center">
					<div id="umb-azure-experts" class="fade-left">
						<span class="xl:text-[200px] text-9xl block text-blue-600 rotate-left certified -translate-x-16 icon-[arcticons--microsoft-azure]"></span>
						<span class="xl:text-[200px] text-9xl block text-blue-800 rotate-right translate-x-16 certified icon-[simple-icons--umbraco]"></span>
					</div>
				</div>
			</div>
		</div>
		<!--Services -->
		<div class="py-44 mwl-background">
			<div id="what-we-do" class="container mx-auto py-11 px-8">
				<h3 class="text-center text-5xl md:text-7xl font-bold text-white mb-6">What we do</h3>
				<p class="text-center text-white md:text-3xl text-xl mb-6">
					In all that we undertake, we stand steadfastly by your side throughout the entire process. 
					Whether you're seeking to establish your business online with a website, grappling with the growing demands of maintaining an existing one, or facing any other challenge, rest assured, we are here to help you. 
					Explore our range of services, and let us know how we can contribute to your success
					</p>

				<div class="flex flex-col xl:flex-row xl:gap-10 gap-6 max-w-full justify-between pt-40">
					<div class="xl:w-1/3">
						<Card
						title="Websites"
						body="Elevate your online presence with custom websites built on Umbraco. We specialize in user-friendly designs, seamless scalability, and expert content management. Let your digital presence shine with our streamlined and innovative approach to web development."
						/>
					</div>
					<div class="xl:w-1/3">

						<Card
						title="DevOps"
						body="Elevate your digital infrastructure with our comprehensive DevOps and Azure hosting solutions. From seamless deployment to continuous monitoring, we optimize performance and ensure scalability. Let us handle the technicalities so you can concentrate on growing your business."
						/>
					</div>
					<div class="xl:w-1/3">
						<Card
						title="Maintenance"
						body="Streamline your online presence with our expert website maintenance services. We handle updates, security, and optimization, ensuring your site runs smoothly while you focus on what matters most – your business."
						/>
					</div>
				</div>

				<div class="flex justify-center mt-20">
					<a href="/services" class="shadow-3xl md:text-3xl text-xl text-center p-3 text-white border-black rounded-full border-solid border w-64 transition-transform transform-gpu hover:-translate-y-1 hover:shadow-lg">More</a>
				</div>

			</div>
		</div>

		<div class="w-full">
			<div class="custom-shape-divider-top-1706452744">
				<svg class="triangle-divider" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
						<path d="M1200 0L0 0 598.97 114.72 1200 0z" class="shape-fill"></path>
				</svg>
			</div>
		</div>

		<!--Work together -->
		<div class="pb-72 pt-44">
			<div class="px-8">
				<h3 class="text-7xl text-white text-center font-bold mb-4">Wanna work together?</h3>
				<p class="text-3xl text-white text-center font-bold">We would love to talk with you about how we can make your online experience better</p>
			</div>
			<ContactForm />
		</div>
	</main>
</Layout>

<style>
#main-highlight {
	font-family: 'Zilla Slab', serif;
	display: inline-block;
	width: 0;
	color: transparent;
	background-color: white;
}

#highlight {
	color: #FFD700;
	position: relative;
}

#what-we-do {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

#what-we-do.active {
  transform: translateY(0);
  opacity: 1;
}

@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.active.fade-left {
  animation: fade-left 1s ease;
}
.active.fade-right {
  animation: fade-right 1s ease;
}

.mwl-background {
	background: var(--mwl-purple);
}

.mwl-figure {
	background-color: var(--mwl-yellow);
}

.minus-margin-bottom {
	margin-bottom: -90px;
}

.mwl-border {
	border-color: var(--mwl-white-border);
}

.triangle-divider {
	fill: var(--mwl-purple);
}

/* this SO post is gold https://stackoverflow.com/questions/37748305/css-class-priority-when-adding-dynamic-class */
/* .hero {
	opacity: 0;
	transform: translateY(10px);
}

.hero-active {
	opacity: 1;
	transform: translateY(0px);
	transition: all .4s ease-in-out;
} */

</style>

<script>
	import { gsap } from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";

	document.addEventListener("astro:page-load", () => {
		const heroTimeline = gsap.timeline()
		heroTimeline
		.fromTo(".first", {y: 150, opacity: 0}, {y:0, opacity: 1, duration: .6})
		.to("#main-highlight", {color: "var(--mwl-purple)", duration: .1})
		.to("#main-highlight", { opacity: 1, width: "auto"})
		.fromTo(".second", {y: 150, opacity: 0,}, { y:0, opacity: 1, duration: .6})

	})

	const reveal = () => {
		console.log("reveal running")
		const currentPath = window.location.pathname.slice(1) // Removing the "/" from path
		
		if(currentPath === "") {
			const scrollUpElement = document.getElementById("what-we-do");
			const windowHeight = window.innerHeight;
			const elementTop = scrollUpElement.getBoundingClientRect().top;
			const elementVisible = 150;

			const logoElement = document.getElementById("umb-azure-experts")
			const logoElementTop = logoElement.getBoundingClientRect().top;
			const logoVisible = 40;

			if (logoElementTop < windowHeight - logoVisible) {
				logoElement.classList.add("active");
			}
			
			if (elementTop < windowHeight - elementVisible) {
				scrollUpElement.classList.add("active");
			}
		}
	}
	window.addEventListener("scroll", reveal)
</script>