---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import RectangleLeft from "../../public/Rectangle-left.svg";
import Rectangleright from "../../public/Rectangle-right.svg";
---

<Layout title="MWL - Your local webagency" isFrontpage={true}>
	<main>
		<div class="flex justify-center items-center min-h-screen bg-gradient-to-r from-purple-800 via-violet-900 to-purple-800">
			<div class="text-left px-8">
				<h1 class="mb-5 xl:text-9xl md:text-5xl text-6xl font-bold text-cyan-50 uppercase">We are <span id="main-highlight" class="bg-white text-purple-800">MWL</span></h1>
				<p class="mb-5 xl:text-7xl md:text-5xl text-3xl font-bold text-cyan-50">In a jungle of choices, we are your: <span id="highlight">agency</span> </p>
			</div>
		</div>
			<!--Experience -->
		<div class="py-44">
			<div class="container mx-auto py-11 px-8 flex xl:flex xl:flex-row flex-col-reverse xl:gap-y-0 gap-y-10">
				<div class="xl:w-2/3 w-full flex justify-center items-center">
					<p class="xl:text-7xl text-5xl inline-block text-transparent bg-gradient-to-r from-fuchsia-500 to-cyan-100 bg-clip-text">
						"Certified Umbraco Masters and Azure Architects with over 10 years of Umbraco experience."
					</p>
				</div>
				<div class="xl:w-1/3 w-full flex flex-col items-center">
					<span class="xl:text-[250px] text-9xl block text-blue-600 rotate-left certified -translate-x-16 icon-[arcticons--microsoft-azure]"></span>
					<span class="xl:text-[250px] text-9xl block text-blue-800 rotate-right translate-x-16 certified icon-[simple-icons--umbraco]"></span>
				</div>
			</div>
		</div>
		<!--Services -->
		<div class="py-72 mwl-background">
			<div class="container mx-auto py-11 px-8">

				<div class="flex flex-col xl:flex-row xl:gap-10 max-w-full justify-between">
					<figure class="xl:w-1/3 flex justify-start rotate-[180deg] md:hidden">
						<img class="w-full max-w-full h-auto" src={RectangleLeft.src} />
					</figure>
					<div class="xl:w-1/3">
						<Card
						title="Websites"
						body="Elevate your online presence with custom websites built on Umbraco. We specialize in user-friendly designs, seamless scalability, and expert content management. Let your digital presence shine with our streamlined and innovative approach to web development."
						/>
					</div>
					<figure class="xl:w-1/3 md:block hidden h-32 mwl-figure mt-16 shadow-3xl border-black rounded border-solid border"></figure>
					<div class="xl:w-1/3 xl:mt-11">
						<Card
						title="Maintenance"
						body="Streamline your online presence with our expert website maintenance services. We handle updates, security, and optimization, ensuring your site runs smoothly while you focus on what matters most – your business."
						/>
					</div>
				</div>

				<div class="flex flex-col xl:flex-row xl:gap-10 max-w-full justify-between">
					<figure class="xl:w-1/3 xl:flex xl:justify-start hidden">
						<img class="w-full max-w-full h-auto" src={RectangleLeft.src} />
					</figure>
					<div class="xl:w-1/3 xl:mt-[-24px]">
						<Card
						title="DevOps"
						body="Elevate your digital infrastructure with our comprehensive DevOps and Azure hosting solutions. From seamless deployment to continuous monitoring, we optimize performance and ensure scalability. Let us handle the technicalities so you can concentrate on growing your business."
						/>
					</div>
					<figure class="xl:w-1/3 flex justify-start minus-margin-bottom">
						<img class="w-full max-w-full h-auto" src={Rectangleright.src} />
					</figure>
				</div>

				<div class="flex justify-center mt-20">
					<a href="/services" class="shadow-3xl text-3xl text-center p-3 text-white border-black rounded-full border-solid border w-1/6 transition-transform transform-gpu hover:-translate-y-1 hover:shadow-lg">More</a>
				</div>

			</div>
		</div>

		<div class="w-full">
			<div class="custom-shape-divider-top-1706452744">
				<svg class="triangle-divider" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
						<path d="M1200 0L0 0 598.97 114.72 1200 0z" class="shape-fill"></path>
				</svg>
			</div>
		</div>

		<!--Work together -->
		<div class="pb-72 pt-44">
			<div class="px-8">
				<h3 class="text-7xl text-white text-center font-bold mb-4">Wanna work together?</h3>
				<p class="text-3xl text-white text-center font-bold">We would love to talk with you about how we can make your online experience better</p>
			</div>
			<div class="container mx-auto px-8 flex justify-center gap-2 pt-32 relative">
				<!--Contact form -->
				<div class="w-7/12">
					<form class="flex justify-center">
						<div class="w-full xl:text-3xl">
							<div class="mb-5">
								<input id="name" type="text" placeholder="Name" class="mwl-background rounded w-full p-2 placeholder:text-white focus:ring focus:ring-blue-900 border mwl-border" />
							</div>
							<div class="mb-5">
								<input id="email" type="email" placeholder="Email" class="mwl-background rounded w-full p-2 placeholder:text-white focus:ring focus:ring-blue-900 border mwl-border" />
							</div>
							<div class="mb-5">
								<textarea id="message" class="mwl-background rounded w-full p-2 md:h-96 placeholder:text-white focus:ring focus:ring-blue-900 border mwl-border" placeholder="Message"></textarea>
							</div>
							<button class="w-full py-3 border hover:bg-yellow-400 rounded text-white" role="button" type="submit">Send</button>
						</div>
					</form>
				</div>
				<!--Let us talk splash art -->
				<div class="mwl-background relative md:flex md:justify-center md:items-center md:w-5/12 md:border md:rounded md:overflow-hidden hidden">
					<div class="circle circle-top invisible"></div>
					<p class="md:text-6xl text-2xl text-white">Let's Talk!</p>
					<div class="circle circle-bottom invisible"></div>
				</div>

			</div>
		</div>
	</main>
</Layout>

<style>
#main-highlight {
	font-family: 'Zilla Slab', serif;
}
#highlight {
	color: #FFD700;
	position: relative;
}

/* #highlight::after {
	content:"consultant";
	display: block;
	text-align: right;
} */

.mwl-background {
	background: var(--mwl-purple);
}

.mwl-figure {
	background-color: var(--mwl-yellow);
}

.minus-margin-bottom {
	margin-bottom: -90px;
}

.mwl-border {
	border-color: var(--mwl-white-border);
}

.triangle-divider {
	fill: var(--mwl-purple);
}

.circle {
	position: absolute;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: var(--mwl-yellow);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

/* When I hover either the name, email or message, the circles should animate to a different position */


.circle-top-name {
	top: 10%;
	left: 20%;
	transition: all .4s ease-in-out;
}

.circle-bot-name {
	top: 90%;
	left: 80%;
	transition: all .4s ease-in-out;
}

.circle-top-email {
	top: 50%;
	left: 65%;
	transition: all .4s ease-in-out;
}

.circle-bot-email {
	top: 20%;
	left: 45%;
	transition: all .4s ease-in-out;
}


.circle-top-message {
	top: 20%;
	left: 45%;
	transition: all .4s ease-in-out;
}

.circle-bot-message {
	top: 80%;
	left: 45%;
	transition: all .4s ease-in-out;
}

.name-animation {
	padding: 50px;
}

</style>

<script>
	document.addEventListener('astro:page-load', (event) => {
		const currentPath = window.location.pathname.slice(1) // Removing the "/" from path
		if(currentPath === "") {
			myAnimation()
		}
	})

	function myAnimation() {
		const formName = document.getElementById("name");
		const formEmail = document.getElementById("email");
		const formMessage = document.getElementById("message");
		const circleTop = document.querySelector(".circle-top");
		const circleBottom = document.querySelector(".circle-bottom");

		/*
		TODO:
		This can be refactored into a single function.
		This should always remove other classes from previous animations of the circle (ex circle-top-name should remove circle-top-email)
		*/

		//1. Add event listener to the name input
		formName.addEventListener("click", (event) => {
			// cleanup
			circleTop.classList.remove("circle-top-email", "circle-top-message" )
			circleBottom.classList.remove("circle-bot-email", "circle-bot-message");

			// name code
			circleTop.classList.remove("invisible");
			circleTop.classList.add("circle-top-name")
			circleBottom.classList.remove("invisible");
			circleBottom.classList.add("circle-bot-name")
		})

		formEmail.addEventListener("click", (event) => {
			// cleanup
			circleTop.classList.remove("circle-top-name", "circle-top-message" )
			circleBottom.classList.remove("circle-bot-name", "circle-bot-message");

			// mail code
			circleTop.classList.remove("invisible");
			circleTop.classList.add("circle-top-email")
			circleBottom.classList.remove("invisible");
			circleBottom.classList.add("circle-bot-email")
		})

		formMessage.addEventListener("click", (event) => {
			circleTop.classList.remove("invisible");
			circleTop.classList.add("circle-top-message")
			circleBottom.classList.remove("invisible");
			circleBottom.classList.add("circle-bot-message")
		})
	}
</script>