---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="MWL - Your local webagency" isFrontpage={true}>
	<main>
		<div class="flex justify-center items-center min-h-screen bg-gradient-to-r from-purple-800 via-violet-900 to-purple-800">
			<div class="text-left">
				<h1 class="mb-5 text-9xl font-bold text-cyan-50">We are <span id="main-highlight" class="bg-white text-purple-800">MWL</span></h1>
				<p class="mb-5 text-7xl font-bold text-cyan-50">In a jungle of choices, we are your: <span id="highlight">agency</span> </p>
			</div>
		</div>¨
			<!--Experience -->
		<div class="py-72">
			<div class="container mx-auto py-11">
				<p id="weare" class="text-7xl inline-block text-transparent bg-gradient-to-r from-fuchsia-500 to-cyan-100 bg-clip-text">
					"Certified Umbraco Masters and Azure Architects with over 10 years of Umbraco experience."
				</p>
			</div>
		</div>
		<!--Services -->
		<div class="py-72 mwl-background">
			<div class="container mx-auto py-11">
				<ul class="flex justify-evenly gap-2">
					<Card 
					title="Websites"
					body="Elevate your online presence with custom websites built on Umbraco. We specialize in user-friendly designs, seamless scalability, and expert content management. Let your digital presence shine with our streamlined and innovative approach to web development."
					/>
					<Card 
					title="DevOps"
					body="Elevate your digital infrastructure with our comprehensive DevOps and Azure hosting solutions. From seamless deployment to continuous monitoring, we optimize performance and ensure scalability. Let us handle the technicalities so you can concentrate on growing your business."
					/>
					<Card 
					title="Maintenance"
					body="Streamline your online presence with our expert website maintenance services. We handle updates, security, and optimization, ensuring your site runs smoothly while you focus on what matters most – your business."
					/>
				</ul>
			</div>
		</div>
	</main>
</Layout>

<style>
#main-highlight {
	font-family: 'Zilla Slab', serif;
}
#highlight {
	color: #FFD700;
}

.mwl-background {
	background: var(--mwl-purple);
}

.triangle {
	width: 0;
	height: 0;  
	border-left: 16rem solid transparent; 
	border-right: 16rem solid  #FFD700;;
	border-bottom: 16rem solid transparent;
	transform: rotate(135deg);

}
</style>
