---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="MWL - Your local webagency" isFrontpage={false}>
  <Hero page="services" />
  <main class="text-white container mx-auto py-52">
    <h1>A list of service will soon show up pog</h1>
  </main>
</Layout>

<style>
  .mwl-yellow {
    color: var(--mwl-yellow-bright);
  }
</style>