---
interface Props {
	title: string;
	body: string;
}

const { title, body } = Astro.props;
---

<div class="shadow-3xl border-black rounded border-solid border mwl-link">
	<div class="p-8">
		<h2 class="xl:text-5xl md:text-4xl text-2xl font-bold text-center text-white mb-7">{title}</h2>
		<p class="xl:text-xl md:text-lg text-base text-white">{body}</p>
	</div>
	<div class="link-card h-1 bg-yellow-400 w-1/2"></div>
</div>

<style>
	.link-card {
		height: 4px;
		background-color: var(--mwl-yellow);
		width: 50%;
		transition: width .3s ease-out;
	}

	.mwl-link:hover .link-card{
		width: 100%;
		transition: width .3s ease-out;
	}
</style>
