---
interface Props {
	title: string;
	body: string;
}

const { title, body } = Astro.props;
---

<li class="link-card shadow-3xl border-black rounded border-solid border">
	<div class="p-8">
		<h2 class="text-3xl font-bold text-center text-white">{title}</h2>
		<p class=" text-white">{body}</p>
	</div>
</li>

<style>

</style>
