---
interface Props {
	title: string;
	body: string;
}

const { title, body } = Astro.props;
---

<div class="link-card shadow-3xl border-black rounded border-solid border">
	<div class="p-8">
		<h2 class="text-5xl font-bold text-center text-white mb-7">{title}</h2>
		<p class="text-xl text-white">{body}</p>
	</div>
</div>

<style>

</style>
