---
interface Props{
  page: string;
}

const { page } = Astro.props;
---

<div class="flex justify-center items-center h-96 bg-gradient-to-r from-purple-800 via-violet-900 to-purple-800">
  <div class="text-left">
    <h2 id="main-highlight" class="text-9xl uppercase font-bold bg-white text-purple-800">{page}</h2>
  </div>
</div>

<style>
  #main-highlight {
	font-family: 'Zilla Slab', serif;
}
</style>