---
import Logo from "../../public/mwlogo3-yellow.png"

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<nav class="bg-slate-50 py-6">
  <div class="flex justify-between container mx-auto">
    <div class="w-32 self-center">
      <a href="/">
        <img src={Logo.src}/>
      </a>
    </div>
    <div class="self-center text-lg">
      <a href="/" class=`mr-3 ${currentPath === "" ? "active" : ""}`>Home</a>
      <a href="/services" class=`mr-3 ${currentPath === "services/" ? "active" : ""}`>Services</a>
      <a href="/about" class=`mr-3 ${currentPath === "about/" ? "active" : ""}`>About</a>
      <a href="/contact" class=`${currentPath === "contact/" ? "active" : ""}`>Contact</a>
    </div>
  </div>
</nav>

<style>
  .active {
    position: relative;
  }
  .active::after {
    content: "";
    display: block;
    position: absolute;
    height: 5px;
    background-color: var(--mwl-purple);
    bottom: -6px;
    right: 0;
    left: 0;
  }
</style>