---
import Layout from '../../layouts/Layout.astro';
import Hero from '../../components/Hero.astro';
import Card from '../../components/Card.astro';
---

<Layout title="MWL - Dit lokale webbureau">
  <Hero page="services" />
  <main transition:animate="slide" class="text-white container mx-auto py-20 sm:py-52">
    <div class="flex sm:gap-7 gap-9 max-w-full xl:justify-between justify-center flex-wrap px-8">
      <a href="/dk/services/websites" class="xl:w-96 md:w-80 w-96 rotate-left hover:transform hover:-translate-y-2 transition-transform">
        <Card
        title="Hjemmesider"
        body="Gør din online tilstedeværelse kendt med skræddersyede hjemmesider bygget på Umbraco. Vi specialiserer os i brugervenligt design, nem skalerbarhed og ekspertindholdsstyring. Lad din digitale tilstedeværelse skinne med vores strømlinede og innovative tilgang til webudvikling."
        />
      </a>
      <a href="/dk/services/devops" class="xl:w-96 md:w-80 w-96 hover:transform hover:-translate-y-2 transition-transform">
        <Card
        title="DevOps"
      	body="Optimer din digitale infrastruktur med vores omfattende DevOps- og Azure-hostingløsninger. Fra gnidningsløs implementering til kontinuerlig overvågning optimerer vi ydeevnen og sikrer skalerbarhed. Lad os håndtere de tekniske detaljer, så du kan koncentrere dig om at vækste din virksomhed."
        />
      </a>
      <a href="/dk/services/maintenance" class="xl:w-96 md:w-80 w-96 rotate-right hover:transform hover:-translate-y-2 transition-transform">
        <Card
        title="Vedligeholdelse"
      	body="Få tjekket din hjemmeside - eller få den håndteret - med vores vedligeholdelsestjenester. Vi håndterer opdateringer, sikkerhed og optimering, så din hjemmeside kører problemfrit, mens du fokuserer på det, der betyder mest - din virksomhed."
        />
      </a>
      <a href="/dk/services/accessibility" class="xl:w-96 md:w-80 w-96 rotate-2 hover:transform hover:-translate-y-2 transition-transform">
        <Card
        title="Tilgængelighed"
        body="Internettet bør være for alle. Lad os hjælpe dig med at forbedre hjemmesidens tilgængelighed og sikre inklusion for alle brugere. Vi vil sikre, at din hjemmeside lever op til tilgængelighedsstandarderne og giver en problemfri oplevelse for hver eneste besøgende."
        />
      </a>
      <a href="/dk/services/cybersecurity" class="xl:w-96 md:w-80 w-96 hover:transform hover:-translate-y-2 transition-transform">
        <Card
        title="Cybersikkerhed"
        body="En grundig analyse af din nuværende løsning, hvor vi fremhæver potentielle sårbarheder og giver anbefalinger til at styrke din hjemmesides sikkerhedspostur."
        />
      </a>
      <a href="/dk/services/azure-consulting" class="xl:w-96 md:w-80 w-96 rotate-2 hover:transform hover:-translate-y-2 transition-transform">
        <Card
        title="Azure konsultation"
        body="Som Azure-konsulenter er vi dedikerede til at optimere dine digitale processer gennem vores ekspertise i Azure-teknologi. Med fokus på at designe skræddersyede løsninger sikrer vi, at din virksomhed drager fordel af maksimal effektivitet og skalerbarhed i skyen."
        />
      </a>
    </div>

    <div class="flex gap-1 max-w-full justify-between flex-wrap mt-11">

    </div>
  </main>
  <div class="pb-52">
    <div class="container mx-auto flex items-center flex-col">
      <p class="text-3xl uppercase font-bold text-white">Lad os hjælpe <span class="mwl-yellow rotate-6 inline-block animate-bounce"><a href="/dk/contact">dig!</a></span></p>
    </div>
  </div>
</Layout>

<style>
  .mwl-yellow {
    color: var(--mwl-yellow-bright);
  }

  .mwl-background {
    background-color: var(--mwl-purple);
  }
</style>